.avatar{
    width: 40px;
}

.list-item{
    height: 50px;
}

.alertt{
    position: fixed !important;
    bottom: 30px !important;
    left: 30px !important; 
    z-index: 999;
    min-width: fit-content;
}